
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
   
}
header{
    display:-webkit-flex; 
    justify-content: space-between;
    background-color: rgb(75, 115, 181);
    height: 77px;
    padding:0em 1em 0em 1em;
    width: 100;
  }
 
.logo{
    align-self: center;
    flex-grow: 0;
}
.contacts{
    display:-webkit-flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0; 
}
.phone{
        font-size: 21px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase; 
        align-self:  baseline;
}
.hours{  
        font-size: 14px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-decoration: underline;   
        align-self:  flex-end;
}
