body{
    margin :0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
  
  }
  aside{
    width:30%;
  }
  .content-wrap{
    display:flex;
  }
  h1, h2, h3, h4, h5, h6 {
    font-size:1em;
    margin: 0;
  }
  a{
    text-decoration: none;
  }
  .container{
    margin: 0 auto;
  }