.container1{
    display: flex;
    height: 300px;
    justify-content: space-between;
    
}
.sidebar{
    display: grid;
     grid-template-rows: 50px 50px 50px;
     grid-row-gap: 20px;
    align-items: flex-end;
    font-size: 12px;
    color: rgb(75, 115, 181);
    font-weight: bold;
    text-transform: uppercase;  
}
.main{
padding-left: 2em;
margin-right: 0.5em;
}
.feed{
  padding-left: 2em;
  margin-right: 0.5em;

}
.team{
  margin-right: 0.5em; 
  padding-left: 2em;
}
a{
  text-decoration: none;
}
.airplane_img{
  display:flex;
  align-items: flex-start;
  flex-flow: column;
}
.container2{
  width: 100%;
  display: flex;
  justify-content: space-around;


}
h1{
  
}
.flower{

  
}
.star{
 
  
}
.pallete{

 
}